.itemcontain {
  display: flex;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
}
.imgcontain {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.images {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
.namecontain {
  margin-left: 50px;
}
.contain {
  font-size: larger;
  font-weight: bold;
}
.amountcontain {
  font-weight: bold;
  margin-top: 10px;
}
