.searchs {
  margin: 20px auto;
  width: 300px;
  position: relative;
}

.newd {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #e3e4dc;
  padding: 10px 20px;
  color: gray;
  width: 100%;
}
